a:link, a:visited {
    background-color: green;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: lightgreen;
    color:black;
}

.error {
    color: #FF0000;
}
.center{
    text-align: center;
}